<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Magazin - Acasa</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <h1>Bun venit la cumparaturi!</h1>
    <h3><a th:href="@{/products}">Lista produse</a></h3>
    <h3><a th:href="@{/register}">Inregistrare</a></h3>
    <h3><a th:href="@{/login}">Login Casier</a></h3>
    <h3><a th:href="@{/loginAdmin}">Administrator</a></h3>
    <h3><a th:href="@{/loginManager}">Manager produse</a></h3>
</div>

</body>
</html>